<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="/assets/image/logo.png" alt="" width="50%">
                </a>
            </div>
            <div class="login-form">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <label>username</label>
                        <input type="text" class="form-control" placeholder="username" formControlName="username"
                        [ngClass]="{ 'is-invalid': submitted && form['username'].errors }">
                        <div *ngIf="submitted && form['username'].errors" class="invalid-feedback">
                            <div *ngIf="form['username'].errors form['username'].required">username is required</div>
                          </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password"
                         [ngClass]="{ 'is-invalid': submitted && form['password'].errors }">
                        <button class="btn btn-light " type="button" id="password-addon"><i class="mdi mdi-eye-outline"></i></button>
                        <div *ngIf="submitted && form['password'].errors" class="invalid-feedback">
                            <div *ngIf="form['password'].errors form['password'].required">password is required</div>
                          </div>
                    </div>
                    
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                  
                </form>
            </div>
        </div>
    </div>
</div>