<app-sidebar></app-sidebar>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
   <app-header></app-header>
    <!-- /#header -->
    <!-- Content -->
    <div class="breadcrumbs">
        <div class="breadcrumbs-inner">
            <div class="row m-0">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Users</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a routerLink="">Dashboard</a></li>
                                
                                <li class="active">List Category</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                           
                           
                                <strong class="card-title" style="display: contents;">Categorie Table</strong>
                                <button type="button" class="btn btn-outline-primary" style="float: right;"data-toggle="modal" data-target="#exampleModal">
                                    <i class="fa fa-plus"></i>&nbsp; Add categorie</button>
                          
                        </div>
                        <div class="card-body">
                            <form [formGroup]="myGroupfrom" >
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">         
                                            <label for="validationCustom01" class="form-label"><a class="text-dark">Code Categorie</a></label>
                                        <div>
                                            <input type="text" class="form-control" formControlName="code"/>
                                            </div>
                                            </div>
                                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">         
                                            <label for="validationCustom01" class="form-label"><a class="text-dark">Nom Categorie</a></label>
                                        <div>
                                            <input type="text" class="form-control" formControlName="libelle"/>
                                            </div>
                                            </div>
                                            
                                    </div>
                                
                        
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">         
                                            <label for="validationCustom01" class="form-label"><a class="text-dark">Nom Categorie en ARabe</a></label>
                                        <div>
                                            <input type="text" class="form-control" formControlName="libelleArb"/>
                                            </div>
                                            </div>
                                            
                                    </div>
                                 
                                    <div class="col-md-6">
                                        <div class="mb-3">         
                                            <label for="validationCustom01" class="form-label"><a class="text-dark">rang</a></label>
                                        <div>
                                            <input type="text" class="form-control" formControlName="rang"/>
                                            </div>
                                            </div>
                                            
                                    </div>
                        
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">         
                                            <label for="validationCustom01" class="form-label"><a class="text-dark">libelle Parent</a></label>
                                        <div>
                                            <input type="text" class="form-control" formControlName="libelleParent"/>
                                            </div>
                                            </div>
                                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">         
                                            <label for="validationCustom01" class="form-label"><a class="text-dark">code Parent</a></label>
                                        <div>
                                            <input type="text" class="form-control" formControlName="codeParent"/>
                                            </div>
                                            </div>
                                            
                                    </div>
                        
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">         
                                            <label for="validationCustom01" class="form-label"><a class="text-dark">parent</a></label>
                         
                                            </div>
                                            <input type="text" class="form-control" formControlName="parent"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="mb-3">         
                                                    <label for="validationCustom01" class="form-label"><a class="text-dark">description</a></label>
                                                <div>
                                                    <textarea type="text" class="form-control" formControlName="description"></textarea>
                                                    </div>
                                                    </div>
                                                    
                                            </div>
                                    </div>
                                   
                        
                                 
                                
                                </div>
                              
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="addCateg()"  >Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- /.site-footer -->
</div>
